<h1>
  <%= title %>
</h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<p>All fields are required</p>
<form class="account-form" action="/account/register" method="POST">
  <label for="account_firstname">First Name:</label>
  <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">

  <label for="account_lastname">Last Name:</label>
  <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">

  <label for="account_email">Email:</label>
  <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">

  <label for="account_password">Password*:</label>
  <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
  <span id="passBtn">Show Password</span>

  <div class="password-notes">
    <p>
      * Password must be:
    </p>
    <ul class="indent">
      <li>At least 12 characters in length</li>
      <li>Contain at least 1 capital letter</li>
      <li>Contain at least 1 number</li>
      <li>Contain at least 1 special character</li>
    </ul>
  </div>

  <button class="submit" type="submit">Register</button>
</form>
<script src="/js/script.js"></script>